<div class="bg">
        
    <body class="Head">
        <h1>
            <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0025/3353/brand.gif?itok=Mpi9eAx5"  height ="180px" width ="180px" align="left">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpoPOxd0v7rrsA8hggM1mbPom7HusxP_-GxuIDeZXqbh4SxfB08RMJp_s4HhQsv-SOArY&usqp=CAU"  height ="180px" width ="180px" align="right">
            PAKISTAN RAILWAYS TRANSPORT CORPARATION</h1>
            
        <marquee width="100%" direction="left" height="100%" scrollamount="10" style="color: rgb(7, 7, 7); background-color: goldenrod;">
                WELCOME TO PAKISTAN RAILWAYS-WE ARE AVAILABLE AT YOUR SERVICE ROUND THE CLOCK- WE WISH YOU WILL HAVE A HAPPY AND SAFE TRAVEL WITH US-FOR MORE GUIDENCE CONTACT US IN THE SUPPORT SECTION-THANK YOU
            </marquee>
         </body>
<div class="haa"><br><button class="u" routerLink="/home">Return</button></div>
<div style="background:rgb(82, 80, 80); color: rgb(247, 243, 243); font-size: large;">
    <h2>Please contact-</h2>
    <br>
    TICKET ENQUIRY -986542456
    <br>
    <br>
    REFUND AND BANKING -994563116
    <br>
</div>
</div>