h1{
    text-align: center;
    vertical-align: center ;
    background: linear-gradient(to right, brown, red);
    color: whitesmoke;
    font-style:initial;
    font-size: 70px;
    padding-bottom: 12px;
  }
  .bg {
      background: rgb(64, 184, 17);
      background: linear-gradient(to right, rgb(46, 185, 57), rgb(180, 137, 17));
      padding-bottom: 35%;
    }

h2{
    font-size: 40px;
    color: white;
    background-color: brown;
}
.haa{
    text-align: right;
  }
  .u:hover:not(.active){
    background-color: rgb(8, 8, 8);
    color: rgb(247, 245, 250);
  }