<div class="bg">
  <div class="Head">
  <h1>
      <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0025/3353/brand.gif?itok=Mpi9eAx5"  height ="180px" width ="180px" align="left">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpoPOxd0v7rrsA8hggM1mbPom7HusxP_-GxuIDeZXqbh4SxfB08RMJp_s4HhQsv-SOArY&usqp=CAU"  height ="180px" width ="180px" align="right">
      PAKISTAN RAILWAYS TRANSPORT CORPARATION</h1>
      
  <marquee width="100%" direction="left" height="100%" scrollamount="10" style="color: rgb(7, 7, 7); background-color: goldenrod;">
          WELCOME TO PAKISTAN RAILWAYS-WE ARE AVAILABLE AT YOUR SERVICE ROUND THE CLOCK- WE WISH YOU WILL HAVE A HAPPY AND SAFE TRAVEL WITH US-FOR MORE GUIDENCE CONTACT US IN THE SUPPORT SECTION-THANK YOU
      </marquee>
<div class="generic-container">
    <div class="panel panel-default">
      <div class="row">
    <h2 style="text-align: center; font:bold; background-color: #555; color: honeydew;">LIST OF TRAINS </h2>
      </div>
      </div>
      <div class="tablecontainer">
        <table class="table table-dark">
          <thead class="thead-dark">
          <tr>
            <th>TRAIN ID</th>
            <th>TRAIN NAME</th>
            <th>FROM</th>
            <th>TO</th>
            <th>NUMBER OF BERTHS</th>
            <th>FARE</th>
            <th>ADMIN OPERATIONS</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let trai of trains">
            <td><span>{{trai.train_id}}</span></td>
            <td><span>{{trai.train_name}}</span></td>
            <td><span>{{trai.from}}</span></td>
            <td><span>{{trai.to}}</span></td>
            <td><span>{{trai.berths}}</span></td>
            <td><span>{{trai.fare}}</span></td>
            <th><button class ="d" (click)="deleteTrains(trai.train_id)" onclick="window.location.reload()">DELETE</button><br>
              <button class="u" routerLink="/update/{{trai.train_id}}">UPDATE </button>
              </th>
          </tr>
          </tbody>
        </table>
        <div class="t">
          <button class="y" routerLink="/add">ADD MORE TRAINS </button>
          <div class="haa"><br><button class="u" routerLink="/home">LOG OUT </button></div>

        </div>
      </div>
    </div>
  </div>
  </div>