<div class="bg">
  <div class="Head">
  <h1>
      <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0025/3353/brand.gif?itok=Mpi9eAx5"  height ="180px" width ="180px" align="left">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpoPOxd0v7rrsA8hggM1mbPom7HusxP_-GxuIDeZXqbh4SxfB08RMJp_s4HhQsv-SOArY&usqp=CAU"  height ="180px" width ="180px" align="right">
      PAKISTAN RAILWAYS TRANSPORT CORPARATION</h1>
      
  <marquee width="100%" direction="left" height="100%" scrollamount="10" style="color: rgb(20, 1, 1); background-color: rgb(234, 238, 15);">
          WELCOME TO PAKISTAN RAILWAYS-WE ARE AVAILABLE AT YOUR SERVICE ROUND THE CLOCK- WE WISH YOU WILL HAVE A HAPPY AND SAFE TRAVEL WITH US-FOR MORE GUIDENCE CONTACT US IN THE SUPPORT SECTION-THANK YOU
      </marquee>
      <div class="haa"><br><button class="u" routerLink="/home">Home</button></div>
      <form action="/action_page.php">
        <h3 style="text-align: left;">Filter the available trains here:</h3>
        <div class="form-group" style="float: center;">
          <input class="hh" type="text" [(ngModel)]="text" class="form-control" placeholder="SOURCE" name="text">
          <br>
          <button type="submit" class="btn btn-default" (click)="search()" style="color: honeydew; background: blue;">Submit</button>
          </div>
          <br>
          <div class="form-group" style="float:center;"> 
          <input type="text" [(ngModel)]="text1" class="form-control" placeholder="DESTINATION" name="text1" >
          <br>
          <button type="submit" class="btn btn-default" (click)="search1()" style="color: honeydew; background: blue;">Submit</button>
          </div>
      </form>
      <br>
      <br>
  <div class="generic-container">
  <div class="panel panel-default">
    <div class="row">
  <h2 style="text-align: center; font:bold; background-color: rgb(156, 140, 140); color: rgb(15, 15, 15);">List of Trains available</h2>
    <div class="tablecontainer">
      <table class="table table-dark">
        <thead class="thead-dark">
        <tr>
          <th>TRAIN ID</th>
          <th>TRAIN NAME</th>
          <th>FROM</th>
          <th>TO</th>
          <th>NUMBER OF BERTHS</th>
          <th>FARE</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let trai of trains">
          <td><span>{{trai.train_id}}</span></td>
          <td><span>{{trai.train_name}}</span></td>
          <td><span>{{trai.from}}</span></td>
          <td><span>{{trai.to}}</span></td>
          <td><span>{{trai.berths}}</span></td>
          <td><span>{{trai.fare}}</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>



