<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
<form [formGroup]="bookSeats" (ngSubmit)="collectTicks()">
    <div class="col-md-12">
        <label >Name</label>
        <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
    </div>
    <div class="col-md-12">
        <label >Email-id</label>
        <input type="email" class="form-control" placeholder="Enter Email-id" formControlName="Email">
    </div>
    <div class="col-md-12">
        <label >Age</label>
        <input type="number" class="form-control" placeholder="Enter age" formControlName="age">
    </div>
    <div class="col-md-12">
        <label >Gender</label>
        <input type="text" class="form-control" formControlName="gender">
    </div>
    <div class="col-md-12">
        <label >Address</label>
        <input type="text" class="form-control" placeholder="Enter address" formControlName="address">
    </div>

    <div class="col-md-12">
        <label >Enter the time of journey</label>
        <input type="time" class="form-control" formControlName="time">
    </div>

    <div class="col-md-12">
        <label >Date</label>
        <input type="text" class="form-control" placeholder="Enter day of journey" formControlName="date">
    </div>
    
    <div class="col-md-12">
        <label >Start</label>
        <select type="select"class="form-control" [(ngModel)]="text" placeholder="Enter the Start station" formControlName="startStation">
            <option></option>
            <option *ngFor="let trai of trains">
                {{trai.from}}
            </option>
        </select>
    </div>
    <a class="abd" (click)="search()">From</a>
    <div class="col-md-12">
        <label >Destination</label>
        <select type="select" class="form-control"[(ngModel)]="text1"  placeholder="Enter End station" formControlName="endStation">
            <option></option>
            <option *ngFor="let trai of trains">
                {{trai.to}}
            </option>
        </select>
    </div>
    <a class="abd" (click)="search1()">To</a>
    <div class="col-md-12">
        <label >Berth</label>
        <input type="text" class="form-control" placeholder="Enter berth" formControlName="berth">
    </div>
    <div class="col-md-12">
        <label >Bankname</label>
        <input type="text" class="form-control" placeholder="Enter name" formControlName="bankname">
    </div>
    <div class="col-md-12">
        <label >Account Number</label>
        <input type="text" class="form-control" placeholder="Enter name" formControlName="credit">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>