<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
<form [formGroup]="bookSeats" (ngSubmit)="collectTicks()">
    <div class="col-md-12">
        <label >Name</label>
        <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
    </div>
    <br>
    <div class="col-md-12">
        <label >Email-id</label>
        <input type="email" class="form-control" placeholder="Enter Email-id" formControlName="email">
    </div>
    <br>
    <div class="col-md-12">
        <label >Age</label>
        <input type="text" class="form-control" placeholder="Enter age" formControlName="age">
    </div>
    <br>
    <div class="col-md-12">
        <label>Select yor Gender</label>
        <br> 
    <div>
        <input type="radio" id="m" formControlName="gender" value="Male">
        <label for="m">Male</label><br>
    </div>
    <div>
        <input type="radio" id="f" formControlName="gender" value="Female">
        <label for="f">Female</label><br>
    </div>
    <div>
        <input type="radio" id="o" formControlName="gender" value="Others">
        <label for="o">Others</label>
    </div>
    </div>
    <br>
    <div class="col-md-12">
        <label >Address</label>
        <input type="text" class="form-control" placeholder="Enter address" formControlName="address">
    </div>
    <br>
    <div class="col-md-12">
        <label >Train Name</label>
        <input type="text" class="form-control" placeholder="Enter the Train name" formControlName="train">
    </div>
    <br>
    <div class="col-md-12">
        <label >Date</label>
        <input type="date" class="form-control" placeholder="Enter date of journey" formControlName="date">
    </div>
    <br>
    <div class="col-md-12">
        <label >Start</label>
        <select type="select"class="form-control" [(ngModel)]="text" placeholder="Enter the Start station" formControlName="startStation">
            <option></option>
            <option *ngFor="let trai of trains">
                {{trai.from}}
            </option>
        </select>
    </div>
    <a class="abd" (click)="search()">Enter</a>
    <br>
    <br>
    <div class="col-md-12">
        <label >Destination</label>
        <select type="select" class="form-control"[(ngModel)]="text1"  placeholder="Enter End station" formControlName="endStation">
            <option></option>
            <option *ngFor="let trai of trains">
                {{trai.to}}
            </option>
        </select>
    </div>
    <a class="abd" (click)="search1()">Enter</a>
    <br>
    <br>
    <div class="col-md-12">
        <label >Berth</label>
        <input type="text" class="form-control" placeholder="Enter berth" formControlName="berth">
    </div>
    <br>
    <div class="col-md-12">
        <label >Bankname</label>
        <input type="text" class="form-control" placeholder="Enter the Bank name" formControlName="bankname">
    </div>
    <br>
    <div class="col-md-12">
        <label >Account Number</label>
        <input type="text" class="form-control" placeholder="Enter Account Number" formControlName="credit">
    </div>
    <br>
    <button type="submit" class="btn btn-primary" style="align-items: center;">Submit</button>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>