<body class="bg">
 <div style="background-image: url('https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_1920,f_auto/A-Corbis-42-55768497_okps89.jpg');">
     
<div class="Head">
    <h1>
        <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0025/3353/brand.gif?itok=Mpi9eAx5"  height ="180px" width ="180px" align="left">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpoPOxd0v7rrsA8hggM1mbPom7HusxP_-GxuIDeZXqbh4SxfB08RMJp_s4HhQsv-SOArY&usqp=CAU"  height ="180px" width ="180px" align="right">
        PAKISTAN RAILWAYS TRANSPORT CORPARATION</h1>
        
    <marquee width="100%" direction="left" height="100%" scrollamount="10" style="color: rgb(7, 7, 7); background-color: goldenrod;">
            WELCOME TO PAKISTAN RAILWAYS-WE ARE AVAILABLE AT YOUR SERVICE ROUND THE CLOCK- WE WISH YOU WILL HAVE A HAPPY AND SAFE TRAVEL WITH US-FOR MORE GUIDENCE CONTACT US IN THE SUPPORT SECTION-THANK YOU
        </marquee>
        
    
    <div class="buttons">
    
    <ul>
        <br>
        <li><b>DASHBOARD</b></li>
        <br>
        <li><a routerLink='/userLogin'>USER-LOGIN</a></li>
        <br>
        <li><a routerLink='/userreg'>NEW USER REGISTRATION</a></li>
        <br>
        <li><a routerLink='/AdminLogin'>ADMIN-LOGIN</a></li>
        <br>
        <li><a routerLink='/trainData'>TRAIN-SCHEDULE</a></li>
        <br>
        <li><a routerLink='/helpLine'>SUPPORT</a></li>
    </ul>
    <div>
        
    </div>
    
    </div>
    </div>
 </div>   

</body>