<body class="bg">
    
    

<div class="Head">
<h1> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGOt419bhwlpdMwUfmCx98l1ljiWx6PJ6PFg&usqp=CAU"  height ="180px" width ="250px" align="left">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpoPOxd0v7rrsA8hggM1mbPom7HusxP_-GxuIDeZXqbh4SxfB08RMJp_s4HhQsv-SOArY&usqp=CAU"  height ="180px" width ="180px" align="right">
    PAKISTAN RAILWAYS TRANSPORT CORPARATION</h1>

<div class="buttons">

<ul>
    <br>
    <li><b>DASHBOARD</b></li>
    <br>
    <li><a routerLink='/userLogin'>USER-LOGIN</a></li>
    <br>
    <li><a routerLink='/userreg'>NEW USER REGISTRATION</a></li>
    <br>
    <li><a routerLink='/AdminLogin'>ADMIN-LOGIN</a></li>
    <br>
    <li><a routerLink='/trainData'>TRAIN-SCHEDULE</a></li>
    <br>
    <li><a class="help" routerLink='/helpLine'>SUPPORT</a></li>
</ul>

</div>
</div>
</body>