<div class="generic-container">
    <div class="panel panel-default">
      <div class="row">
       <h2>AVAILABLE TRAINS</h2>
      </div>
      <div class="tablecontainer">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>train_id</th>
            <th>train_name</th>
            <th>from</th>
            <th> to</th>
            <th>fare</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let trai of trains">
            <td><span>{{trai.train_id}}</span></td>
            <td><span>{{trai.train_name}}</span></td>
            <td><span>{{trai.from}}</span></td>
            <td><span>{{trai.to}}</span></td>
            <td><span>{{trai.fare}}</span></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>