<div class="bg">
        
   <body class="Head">
       <h1>
           <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0025/3353/brand.gif?itok=Mpi9eAx5"  height ="180px" width ="180px" align="left">
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpoPOxd0v7rrsA8hggM1mbPom7HusxP_-GxuIDeZXqbh4SxfB08RMJp_s4HhQsv-SOArY&usqp=CAU"  height ="180px" width ="180px" align="right">
           PAKISTAN RAILWAYS TRANSPORT CORPARATION</h1>
           
       <marquee width="100%" direction="left" height="100%" scrollamount="10" style="color: rgb(7, 7, 7); background-color: goldenrod;">
               WELCOME TO PAKISTAN RAILWAYS-WE ARE AVAILABLE AT YOUR SERVICE ROUND THE CLOCK- WE WISH YOU WILL HAVE A HAPPY AND SAFE TRAVEL WITH US-FOR MORE GUIDENCE CONTACT US IN THE SUPPORT SECTION-THANK YOU
           </marquee>
        </body>
           
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">ADMIN LOG-IN</h5>
              <form [formGroup]="adminlog" (ngSubmit)="validate()">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput"  formControlName="username">
                  <label for="floatingInput">User Name</label>
                  <span style="color: red;" class="error" *ngIf="adminlog.controls.username.touched && adminlog.controls.username.errors"> Username is required
                  </span>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" formControlName="password">
                  <label for="floatingPassword">Password</label>
                  <span style="color: red;" class="error" *ngIf="adminlog.controls.password.touched && adminlog.controls.password.errors"> Password is required
                  </span>
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
</div>
  