<body class="bg">
    
    

  <div class="Head">
  <h1>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpoPOxd0v7rrsA8hggM1mbPom7HusxP_-GxuIDeZXqbh4SxfB08RMJp_s4HhQsv-SOArY&usqp=CAU"  height ="180px" width ="180px" align="right">
      PAKISTAN RAILWAYS TRANSPORT CORPARATION</h1>

  <div class="buttons">
  <ul>
      <br>
      <li><b>DASHBOARD</b></li>
      <br>
      <li> <a routerLink="/add">add trains</a></li>
      <br>
      <li><a routerLink="/Trains">view trains</a></li>
      <br>
      <li><a routerLink="/home">Log-Out</a></li>
      <br>

  </ul>
  
  </div>
  </div>
  </body>


  
